In [17]:
import numpy as np
np.random.seed(1234)

x = np.random.normal(170., 5.0, size=1000)    

maxValue = x[0]
for i in range(1, len(x)):
    if maxValue < x[i]:
        maxValue = x[i]


print('%.2f' % maxValue)
pass

183.82

In [68]:
import numpy as np
np.random.uniform(size=10000)
count=0
for i in range(n):
  x=np.random.random()
  y=np.random.random()
  if(x*x+y*y<1):
    count=count+1
a=4*count/n
def piEstimate (n):
    pass
print(a)

3.208

In [1]:
import pandas as pd
data = pd.read_csv('C:/Users/82104/Desktop/빅데/MLBattend.csv',sep=',',na_values=".")
print(data)

     Unnamed: 0 franchise league division  year  attendance  runs.scored  \
0             1       BAL     AL     EAST    69     1062069          779
1             2       BOS     AL     EAST    69     1833246          743
2             3       CLE     AL     EAST    69      619970          573
3             4       DET     AL     EAST    69     1577481          701
4             5       NYA     AL     EAST    69     1067996          562
5             6       WAS     AL     EAST    69      918106          694
6             7       CAL     AL     WEST    69      758388          528
7             8      CHIA     AL     WEST    69      589546          625
8             9        KC     AL     WEST    69      902414          586
9            10       MIN     AL     WEST    69     1349328          790
10           11       OAK     AL     WEST    69      778232          740
11           12       SEA     AL     WEST    69      677944          639
12           13      CHIN     NL     EAST    69     1674993          720
13           14       MON     NL     EAST    69     1212608          582
14           15       NYN     NL     EAST    69     2175373          632
15           16       PHI     NL     EAST    69      519414          645
16           17       PIT     NL     EAST    69      769369          725
17           18       STL     NL     EAST    69     1682783          595
18           19       ATL     NL     WEST    69     1458320          691
19           20       CIN     NL     WEST    69      987991          798
20           21       HOU     NL     WEST    69     1442995          676
21           22        LA     NL     WEST    69     1784527          645
22           23        SD     NL     WEST    69      512970          468
23           24        SF     NL     WEST    69      873603          713
24           25       BAL     AL     EAST    70     1057069          792
25           26       BOS     AL     EAST    70     1595278          786
26           27       CLE     AL     EAST    70      729752          649
27           28       DET     AL     EAST    70     1501293          666
28           29      MILA     AL     EAST    70      933690          613
29           30       NYA     AL     EAST    70     1136879          680
..          ...       ...    ...      ...   ...         ...          ...
808         809        TB     AL     EAST     0     1549052          733
809         810       ANA     AL     WEST     0     2066977          864
810         811       BAL     AL     EAST     0     3295128          794
811         812       BOS     AL     EAST     0     2586032          792
812         813       CLE     AL     CENT     0     3456278          950
813         814       DET     AL     EAST     0     2533752          823
814         815       NYA     AL     EAST     0     3227657          871
815         816       TOR     AL     EAST     0     1819886          861
816         817      CHIA     AL     CENT     0     1947799          978
817         818        KC     AL     CENT     0     1677915          879
818         819       MIN     AL     CENT     0     1059715          748
819         820       OAK     AL     WEST     0     1728888          947
820         821       SEA     AL     WEST     0     3148317          907
821         822       TEX     AL     WEST     0     2800147          848
822         823      CHIN     NL     CENT     0     2789511          764
823         824       MON     NL     EAST     0      926263          738
824         825       NYN     NL     EAST     0     2800221          807
825         826       PHI     NL     EAST     0     1612769          708
826         827       PIT     NL     CENT     0     1748908          793
827         828       STL     NL     CENT     0     3336493          887
828         829       ATL     NL     EAST     0     3234301          810
829         830       CIN     NL     CENT     0     2577351          825
830         831       HOU     NL     CENT     0     3056139          938
831         832        LA     NL     WEST     0     3010819          798
832         833        SD     NL     WEST     0     2423149          752
833         834        SF     NL     WEST     0     3315330          925
834         835       COL     NL     WEST     0     3285710          968
835         836        FL     NL     EAST     0     1218326          731
836         837       ARI     NL     WEST     0     2942516          792
837         838      MILN     NL     CENT     0     1573621          740

     runs.allowed  wins  losses  games.behind
0             517   109      53           0.0
1             736    87      75          22.0
2             717    62      99          46.5
3             601    90      72          19.0
4             587    80      81          28.5
5             644    86      76          23.0
6             652    71      91          26.0
7             723    68      94          29.0
8             688    69      93          28.0
9             618    97      65           0.0
10            678    88      74           9.0
11            799    64      98          33.0
12            611    92      70           8.0
13            791    52     110          48.0
14            541   100      62           0.0
15            745    63      99          37.0
16            652    88      74          12.0
17            540    87      75          13.0
18            631    93      69           0.0
19            768    89      73           4.0
20            668    81      81          12.0
21            561    85      77           8.0
22            746    52     110          41.0
23            636    90      72           3.0
24            574   108      54           0.0
25            722    87      75          21.0
26            675    76      86          32.0
27            731    79      83          29.0
28            751    65      97          33.0
29            612    93      69          15.0
..            ...   ...     ...           ...
808           842    69      92          18.0
809           869    82      80           9.5
810           913    74      88          13.5
811           745    85      77           2.5
812           816    90      72           5.0
813           827    79      83          16.0
814           814    87      74           0.0
815           908    83      79           4.5
816           839    95      67           0.0
817           930    77      85          18.0
818           880    69      93          26.0
819           813    91      70           0.0
820           780    91      71           0.5
821           974    71      91          20.5
822           904    65      97          30.0
823           902    67      95          28.0
824           738    94      68           1.0
825           830    65      97          30.0
826           888    69      93          26.0
827           771    95      67           0.0
828           714    95      67           0.0
829           765    85      77          10.0
830           944    72      90          23.0
831           729    86      76          11.0
832           815    76      86          21.0
833           747    97      65           0.0
834           897    82      80          15.0
835           797    79      82          15.5
836           754    85      77          12.0
837           826    73      89          22.0

[838 rows x 11 columns]

In [32]:
data2 = data[ ["league","attendance","runs.scored","runs.allowed"] ]

In [33]:
data2.groupby(['league'], as_index=False).mean()

  league    attendance  runs.scored  runs.allowed
0     AL  1.716321e+06   713.293981    713.490741
1     NL  1.843617e+06   675.411330    675.100985

In [34]:
data2.groupby(['league'], as_index=False).corr()

                attendance  runs.scored  runs.allowed
0 attendance      1.000000     0.554555      0.168597
  runs.scored     0.554555     1.000000      0.561632
  runs.allowed    0.168597     0.561632      1.000000
1 attendance      1.000000     0.482578      0.051004
  runs.scored     0.482578     1.000000      0.540466
  runs.allowed    0.051004     0.540466      1.000000